html {
  background-color: #000000
}

body {
  align-content: center;
}

audio {
  margin: auto;
}

#center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
