body {
  background-color: #9B7EDE;
  margin-left: 50px;
}

h1 {
  color: #DAEFB3;
  margin-top: 50px;
  margin-left: 20px;
}

h3 {
    color: #DAEFB3;
    margin-left: 40px;
}

p {
  color: #292F36;
  margin-left: 40px;
}

ul {
  color: #DAEFB3;
  margin-left: 40px;
}

a:link {
  color: #DAEFB3;
}

a:visited {
  color: #DAEFB3;
}

a:hover {
  color: #BDE278;
}

header {
background-color: #FF6978;
position: fixed;
left: 25px;
right: 25px;
top: 5px;
height: 30px;
display: flex;
align-items: center;
box-shadow: 0 6px 25px 0 #FF10F0;
}

header * {
display: inline;
}

header li {
margin: 20px;
}

header li a {
color: #B1EDE8;
text-decoration: none;
}
