body {
  background-color: #B1EDE8;
  margin-left: 50px;
}

h1 {
  color: #FFFCF9;
  margin-top: 20px;
  margin-left: 20px;
}

h3 {
    color: #FFFCF9;
    margin-left: 40px;
}

p {
  color: #FF6978;
  margin-left: 40px;
}

ul {
  color: #00BD9D;
  margin-left: 40px;
}

a:link {
  color: #FFFCF9;
}

a:visited {
  color: #FF6978;
}

a:hover {
  color: #B1EDE8;
}
