body {
  background-color: #140013;
  margin-left: 50px;
  justify-content: center;
}

html {
  font-family: baskerville, serif;
}

h1 {
  color: #FFFCF9;
  margin-top: 50px;
  margin-left: 40px;
}

h3 {
    color: #FFFCF9;
    margin-left: 40px;
    margin-top: 50px;
}

p {
  color: #FFFCF9;
  margin-left: 40px;
}

body ul {
  color: #FF10F0;
  margin-left: 40px;
}

a:link {
  color: #B800AE;
}

a:visited {
  color: #B800AE;
}

a:hover {
  color: #A3009B;
}

header {
background-color: #FF70F8;
position: fixed;
left: 25px;
right: 25px;
top: 5px;
height: 30px;
display: flex;
align-items: center;
box-shadow: 0 6px 25px 0 #FF10F0;
}

header * {
display: inline;
}

header li {
margin: 20px;
}

header li a {
text-decoration: none;
}
