body {
  background-color: #B1EDE8;
  margin-left: 50px;
}

h1 {
  color: #FFFCF9;
  margin-top: 60px;
  font-size: 40px;
}

h3 {
  color: #FFFCF9;
  font-size: 28px;
}

p {
  color: ##FF6978;
  font-size: 18px;
}

element {
  max-width: 100vw;
  overflow-x: hidden;
}

a:link {
  color: #FF6978;
}

a:visited {
  color: #E00016;
}

a:hover {
  color: #FF497A;
}

header {
background-color: #FF6978;
position: fixed;
left: 5px;
right: 5px;
top: 5px;
height: 30px;
display: flex;
align-items: center;
box-shadow: 0 0 25px 0 #FF10F0;
}

header * {
display: inline;
}

header li {
margin: 20px;
}

header li a {
color: #B1EDE8;
text-decoration: none;
}
