body {
  background-color: #340068;
  margin-left: 50px;
}

h1 {
  color: #FFFCF9;
  margin-top: 20px;
  margin-left: 40px;
}

h3 {
    color: #FFFCF9;
    margin-left: 40px;
}

p {
  color: #FFFCF9;
  margin-left: 40px;
}

element {
  max-width: 100vw;
  overflow-x: hidden;
}

a:link {
  color: #FFFCF9;
}

a:visited {
  color: #FF6978;
}

a:hover {
  color: #B1EDE8;
}

img {
    margin-left: 40px;
}
