body {
  background-image: url(JermaJerkin.gif); background-repeat:repeat;
}

h1 {
  color: #f78c58;
  margin-top: 20px;
  margin-left: 20px;
}

p {
  color: #f5e3da;
  margin-left: 20px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
