:root {
  --neon-pink: #FF10F0;
  --light-red: #FF6978;
  --dark-red: #E00016;
  --white: #FFFCF9;

  --bg-black: #000000;
  --bg-pink: #280015;
  --bg-purple: #1b031a;
  --bg-blue: #000e29;

  --shadow-pink: box-shadow: 0 6px 25px 0 #FF10F0;
}

html {
  font-family: baskerville, serif;
  background-color: #140013;
  outline: 0;
  overflow-x: hidden;
}

body {
  justify-content: center;
}

h1 {
  color: #FFFCF9;
  margin-top: 50px;
  margin-left: 40px;
}

h3 {
    color: #FFFCF9;
    margin-left: 40px;
    margin-top: 50px;
}

p {
  color: #FFFCF9;
  margin-left: 40px;
}

pre {
  color: #FF10F0;
  text-shadow: 0 0 20px #FF10F0;
  white-space: pre !important;
  text-align: left;
}

element {
  max-width: 100vw;
  overflow-x: hidden;
}

body ul {
  color: #FF10F0;
  margin-left: 40px;
}

a:link {
  color: #B800AE;
}

a:visited {
  color: #B800AE;
}

a:hover {
  color: #A3009B;
}

header {
background-color: #FF70F8;
position: fixed;
left: 25px;
right: 25px;
top: 25px;
height: 30px;
display: flex;
align-items: center;
box-shadow: 0 6px 25px 0 #FF10F0;
}

header * {
display: inline;
}

header li {
margin: 20px;
}

header li a {
text-decoration: none;
}

#scroll-container {
  border: 6px double #FF10F0;
  border-radius: 5px;
  overflow: hidden;
  font-size: 200%
  color: #F1F0F0;
}

#scroll-text {
  text-align:right;
  color: #F1F0F0;
  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 8s linear infinite;
  -webkit-animation: my-animation 8s linear infinite;
  animation: my-animation 8s linear infinite;
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
