html {
  background-color: #000000
}

body {
  align-content: center;
}

audio {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

p {
  color: #FFC2FB;
  font-size: 15pt;
}

html {
  font-family: 'Share Tech Mono', monospace;
}
